<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Categoría</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="container">
        <div class="button-container">
            <a href="{{ url_for('inicio') }}"><button>Inicio</button></a>
            <a href="{{ url_for('mostrar_categorias') }}"><button>Gestionar Categorías</button></a>
        </div>
    </header>
    <div class="content-container">
        <h2>Detalle de Categoría</h2>
        <p><strong>Nombre:</strong> {{ categoria[0] }}</p>
        <p><strong>Descripción:</strong> {{ categoria[1] }}</p>
        <h3>Productos Asociados</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto[0] }}</td>
                    <td>{{ producto[1] }}</td>
                    <td>{{ producto[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<footer class="footer">
    <p>© CopyRight Itienda Col</p>
</footer>
</html>
