<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Proveedor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="container">
        <div class="button-container">
            <a href="{{ url_for('inicio') }}"><button>Inicio</button></a>
            <a href="{{ url_for('mostrar_proveedores') }}"><button>Gestionar Proveedores</button></a>
        </div>
    </header>
    <div class="form-container">
        <h2>Crear Proveedor</h2>
        <form method="POST" action="{{ url_for('crear_proveedor') }}">
            <label for="nombre">Nombre del Proveedor:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" required>
            
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" required>
            
            <button type="submit">Crear Proveedor</button>
        </form>
        <a href="{{ url_for('mostrar_proveedores') }}"><button>Volver</button></a>
    </div>
</body>
<footer class="footer">
    <p>© CopyRight Itienda Col</p>
</footer>
</html>
