<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Bodega</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="container">
        <div class="button-container">
            <a href="{{ url_for('inicio') }}"><button>Inicio</button></a>
            <a href="{{ url_for('mostrar_bodegas') }}"><button>Gestionar Bodegas</button></a>
        </div>
    </header>
    <div class="form-container">
        <h2>Crear Bodega</h2>
        <form method="POST" action="{{ url_for('crear_bodega') }}">
            <label for="nombre">Nombre de la Bodega:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <label for="ubicacion">Ubicación:</label>
            <input type="text" id="ubicacion" name="ubicacion" required>
            
            <label for="capacidad_maxima">Capacidad Máxima:</label>
            <input type="number" id="capacidad_maxima" name="capacidad_maxima" required>
            
            <button type="submit">Crear Bodega</button>
        </form>
        <a href="{{ url_for('mostrar_bodegas') }}"><button>Volver</button></a>
    </div>
</body>
<footer class="footer">
    <p>© CopyRight Itienda Col</p>
</footer>
</html>
