<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="container">
        <div class="button-container">
            <a href="{{ url_for('inicio') }}"><button>Inicio</button></a>
            <a href="{{ url_for('como_funciona') }}"><button>Cómo funciona</button></a>
            <a href="{{ url_for('informacion') }}"><button>Información general</button></a>
            <a href="{{ url_for('contactanos') }}"><button>Contáctanos</button></a>
        </div>
    </header>
    <div class="form-container">
        <h2>Registrar Producto</h2>
        <form method="POST" action="{{ url_for('crear_producto') }}">
            <label for="nombre">Nombre del Producto:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
            
            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio" step="0.01" required>
            
            <label for="stock_inicial">Stock Inicial:</label>
            <input type="number" id="stock_inicial" name="stock_inicial" required>

            <label for="categoria_id">Categoría:</label>
            <select id="categoria_id" name="categoria_id" required>
                <option value="" disabled selected>Selecciona una categoría</option>
                {% for categoria in categorias %}
                <option value="{{ categoria[0] }}">{{ categoria[1] }}</option>
                {% endfor %}
            </select>

            <label for="proveedor_id">Proveedor:</label>
            <select id="proveedor_id" name="proveedor_id" required>
                <option value="" disabled selected>Selecciona un proveedor</option>
                {% for proveedor in proveedores %}
                <option value="{{ proveedor[0] }}">{{ proveedor[1] }}</option>
                {% endfor %}
            </select>

            <label for="bodega_id">Bodega:</label>
            <select id="bodega_id" name="bodega_id" required>
                <option value="" disabled selected>Selecciona una bodega</option>
                {% for bodega in bodegas %}
                <option value="{{ bodega[0] }}">{{ bodega[1] }}</option>
                {% endfor %}
            </select>
            
            <br></br>
            <button type="submit">Registrar Producto</button>
        </form>
        <a href="{{ url_for('mostrar_productos') }}"><button>Volver</button></a>
    </div>
</body>
<br><br>
</html>
