<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido al software de sistema de gestión de inventario de Itienda Col</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header class="header">
        <h1>Itienda Col</h1>
    </header>
    <div class="welcome-container">
        <h1>¡Bienvenido al sistema de gestión de inventario!</h1>
        <br>
        <div class="button-container">
            <a href="menu"><button>Iniciar</button></a>
            <a href="como_funciona"><button>Cómo funciona</button></a>
            <a href="informacion"><button>Información general</button></a>
            <a href="contactanos"><button>Contactanos</button></a>
        </div>
    </div>
</body>
<footer class="footer">
    <p>© CopyRight Itienda Col</p>
</footer>
</html>

