<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="container">
        <div class="button-container">
            <a href="{{ url_for('inicio') }}"><button>Inicio</button></a>
            <a href="{{ url_for('mostrar_proveedores') }}"><button>Gestionar Proveedores</button></a>
            <a href="{{ url_for('mostrar_bodegas') }}"><button>Gestionar Bodegas</button></a>
            <a href="{{ url_for('mostrar_categorias') }}"><button>Gestionar Categorías</button></a>
        </div>
    </header>
    <div class="content-container">
        <h2>Gestión de Productos</h2>
        <div class="new-product-button">
            <a href="{{ url_for('mostrar_formulario_creacion') }}"><button>Crear Nuevo Producto</button></a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto[0] }}</td>
                    <td>{{ producto[1] }}</td>
                    <td>{{ producto[2] }}</td>
                    <td>{{ producto[3] }}</td>
                    <td>{{ producto[4] }}</td>
                    <td>
                        <a href="{{ url_for('mostrar_formulario_actualizacion', id=producto[0]) }}"><button class="btn btn-edit">Editar</button></a>
                        <form action="{{ url_for('borrar_producto', id=producto[0]) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-delete">Borrar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="stock-value">
            Valor total del stock: ${{ valor_total_stock | round(2) }}
        </div>
    </div>
    <footer class="footer">
        <p>© CopyRight Itienda Col</p>
    </footer>
</body>
</html>
